* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    background-color: hsl(216, 12%, 8%);
    padding: 165px 0;
    position: relative;
}

#container {
    background-color: hsl(213, 19%, 18%);
    width: 390px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
}

#star {
    padding: 15px;
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 50%;
    margin-bottom: 25px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.9rem;
    margin-bottom: 10px;
}

p {
    color: hsl(216, 12%, 54%);
    font-size: 0.9rem; 
    margin-bottom: 25px;
    line-height: 1.6;
    width: 90%;
}

#ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rating {
    width: 50px;
    height: 50px;
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    transition: background-color 0.3s;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.active {
    background-color: hsl(216, 12%, 54%);
}

.submit a {
    color: hsl(0, 0%, 100%);
} 

.submit {
    padding: 10px;
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: background-color 0.3s, color 0.3s;
}

.submit:hover {
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.submit:hover > a {
    color: hsl(25, 97%, 53%);
}

.attribution {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: hsl(216, 12%, 8%);
    transition: background-color 0.3s, color 0.3s;
}

.attribution:hover > a {
    color: hsl(0, 0%, 100%);
}

.attribution:hover {
    background-color: hsl(25, 97%, 53%);
}

a {
    color: hsl(216, 12%, 8%);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: hsl(216, 12%, 54%);
}

@media (max-width: 400px) {

}